dist: bionic
language: minimal
notifications:
  email: false

jobs:  
  include:
    - stage: base
      script: bash script.sh base  
    - stage: remotes
      script: bash script.sh remotes  
    - stage: "remotes derived"
      script: bash script.sh deverse  
      name: deverse
    - script: bash script.sh rmarkdown  
      name: rmarkdown
    - stage: "rmarkdown derived"
      script: bash script.sh pkgdown  
      name: pkgdown
    - script: bash script.sh zhuoerdown  
      name: zhuoerdown
    - script: bash script.sh blogdown  
      name: blogdown
